{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='edit_task.css') }}">
{% endblock %}

{% block title %}
    Edit Task
{% endblock %}

{% block content %}
    <header class="container">
        <h2>Edit Task: {{ task.title }}</h2>
    </header>
    
    {% if message %}
        <p class="message"><strong>{{ message }}</strong></p>
    {% endif %}
    
    <div class="edit-form-container">
        <form method="POST" action="{{ url_for('edit_task', task_id=task.id) }}">
            <label for="new_title">Title:</label>
            <input type="text" id="new_title" name="new_title" value="{{ task.title }}" required>
            <label for="new_status">Status:</label>
            <select id="new_status" name="new_status" required>
                <option value="todo" {% if task.status == 'todo' %}selected{% endif %}>To Do</option>
                <option value="doing" {% if task.status == 'doing' %}selected{% endif %}>Doing</option>
                <option value="done" {% if task.status == 'done' %}selected{% endif %}>Done</option>
            </select>
            <label for="parent">Parent Task:</label>
            <select id="parent" name="parent">
                <option value="None">None</option>
                {% for parent_task in all_tasks if parent_task.id != task.id %}
                    <option value="{{ parent_task.title }}" {% if parent_task.id == task.parent_id %}selected{% endif %}>
                        {{ parent_task.title }}
                    </option>
                {% endfor %}
            </select>
            
            <input type="submit" value="Update Task">
        </form>
        <div class="delete-form-container">
            <form method="POST" action="{{ url_for('delete') }}">
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <input type="submit" value="Delete Task" onclick="return confirm('Are you sure you want to delete this task?');">
            </form>
        </div>
    </div>
{% endblock %}




