{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}
    {{ current_user.username }}'s Dashboard
{% endblock %}

{% block content %}
    <header class="container">
        {% if current_user.is_authenticated %}
            <h3>{{ today }}</h3>
            <h2 id="boardName">{{ current_user.username }}'s Board</h2>
            <form class="logoutSection" method="POST" action="/logout">
                <input class="logoutButton" type="submit" value="Logout">
            </form>
        {% endif %}
    </header>
    <br></br>
    <div class="optionSection container">
      <h2>Add Tasks</h2>
      <div class="innerContainer">
          <form method="POST" action="/main">
              <input id="addText" placeholder="Task" type="text" name="title" required>
              
              <!-- Status Dropdown -->
              <select id="selector" name="status" required>
                  <option disabled hidden selected>Status</option>
                  {% for i in data %}
                      <option value="{{ i.status }}">{{ i.status }}</option>
                  {% endfor %}
              </select>
              
              <!-- Parent Task Dropdown -->
              <select id="parentSelector" name="parent_task" required>
                <option disabled hidden selected>Parent</option>
                <option value="None">None</option>  <!-- Option to set no parent -->
                {% for task in parent_tasks %}
                    <option value="{{ task.title }}">{{ task.title }}</option>
                {% endfor %}
            </select>

              
              <input class="addbutton" type="submit" value="+">
          </form>
      </div>
  </div>

    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <section class="container">
      {% for status, tasks in task_dict.items() %}
        <div class="container">
          <div class="card-container">
            <div class="actionContainer">
              <h2 class="cardTitle">{{ status }}</h2>
              <ul class="task-list">
                {% for task in tasks %}
                  <li class="task-item" data-task-id="{{ task.id }}" data-parent-id="{{ task.parent_id }}" data-full-text="{{ task.title }}">
                    <span class="task-title">&#8226; {{ task.title }}</span>
                    <a href="{{ url_for('edit_task', task_id=task.id) }}" class="edit-link">Edit</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
    
    


    
    


      
      
      

{% endblock %}

{% block scripting %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}



